* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: rgb(114, 111, 111);
    font-weight: bold;
}

#form-header {
    text-align: center;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(214, 217, 220);
    border-radius: 3px;
    margin: 40px 50px;
    padding: 50px;
}

#cv-form {
    margin: 0 50px;
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(214, 217, 220);
}

fieldset {
    border: 1px solid rgb(214, 217, 220);
    margin: 10px;
}

legend {
    padding-left: 2px;
    font-size: 18px;
    font-weight: bold;
}

select {
    padding: 1px;
    color: rgb(114, 111, 111);
    text-align: center;
    width: 500px;
}

input[type=text] {
    padding: 1px;
    width: 500px;
    text-align: center;
}

.line-content {
    margin: 14px;
  }

::placeholder {
    text-align: center;
}

#submit-button {
    display: flex;
    margin: 30px auto;
    font-size: 18px;
    height: 28px;
    width: 80px;
    justify-content: center;
}