body {
    background-color: rgb(143, 180, 180);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(2, 2, 48);
    }

h2 {
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
}

h3 {
    margin-top: 2px;
    font-size: 35px;
}

img {
    border: 2px solid black;
}

nav {
    padding: 15px;
}

nav li {
    display: inline;
    font-size: 35px;
    background-color: gray;
    padding: 15px;
    border-radius: 10px;
}
 
article {
    padding: 25px;
    margin: 15px;
    border-radius: 10px;
    background-color: rgb(66, 136, 136);
}

article section {
    background-color: rgb(143, 180, 180);
    border-radius: 10px;
    padding-top:10px;
    padding-left:10px;
    margin: 20px;
}

article p {
    font-size: 28px;
}

.intro {
    height: 500px;
}

.intro table {
    margin: auto;
    font-size: 24px;
    border: solid;
    position: relative;
    float: left;
    left: 10%;

}

.intro p {
    padding-bottom: 5px;
}
.intro table td {
    padding: 0 50px 0 50px;
    text-align: center;
    border: 1px solid;
}

.intro img {
    width: 25%;
    position: relative;
    float: right;
    right: 15%;
    top: 1%
}

.eyes {
    height: 380px;
}
.eyes p {
    position: relative;
    width: 50%;
    float: left;
    left: 3%;
    top: 3%
}
.eyes img {
    width: 30%;
    position: relative;
    right: 12.8%;
    float: right;
}