body {
    background-color: rgb(143, 180, 180);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(2, 2, 48);
    }

img {
    border: 2px solid black;
}

nav {
    padding: 15px;
}

nav li {
    display: inline;
    font-size: 35px;
    background-color: gray;
    padding: 15px;
    border-radius: 10px;
}
 
article {
    padding: 25px;
    margin: 15px;
    border-radius: 10px;
    background-color: rgb(66, 136, 136);
}

article div{
    background-color: rgb(143, 180, 180);
    border-radius: 10px;
    padding-left: 10px;
}

article h2 {
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
}

div p {
    font-size: 28px;
}

table {
    margin: auto;
    font-size: 24px;
    border: solid;
}

table td {
    padding: 0 50px 0 50px;
    text-align: center;
    border: 1px solid;
}

h3 {
    font-size: 35px;
}


.tbl-img {
    height: 350px;
}

.tbl-img table {
    position: relative;
    float: left;
    left: 15%;
    top:10%;
}

.tbl-img img {
    width: 25%;
    position: relative;
    float: right;
    right: 15%;
}

.eyes {
    height: 400px;
}
.eyes p {
    position: relative;
    width: 50%;
    float: left;
    left: 3%;
    top: 3%
}
.eyes img {
    width: 30%;
    position: relative;
    right: 12.8%;
    float: right;
}