ol li {
    background-color: yellow;
}

ol li:nth-of-type(odd) {
    text-transform: uppercase;
}

ol li:nth-of-type(even) {
    color:green;
}

h1, h3 {
    color: red;
}

h1 em, h3 em {
    font-size: 40px;
    border: 1px black solid;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

ul li:not(:nth-of-type(n + 4)) {
    color: blue;
}

.pink-bg {
    background-color: pink;
}

#aliados li a:hover {
    font-weight: 700;
}

#aliados li a:hover[href*="stackoverflow"] {
    color: orange;
  }
  
  #aliados li a:hover[href*="w3schools"] {
    color: green;
  }
  
  #aliados li a:hover[href*="mozilla"] {
    color: black;
  }
  
  #aliados li a:hover[href*="devdocs"] {
    color: yellow;
  }
  
  #aliados li a:hover[href*="trybe"] {
    color: green;
  }
