#funcionamento {
  font-size: 1.5em;
  color: gray;
}

.selecionado {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

#lista-tarefas {
  margin-top: 1rem;
  margin-bottom: 1rem;

}

#criar-tarefa {
  margin-left: 10px;
  padding: 2px; 
}