/* Realize as seguintes tarefas:
  1 - Faça o tamanho da fonte ser maior;
  2 - Faça o tamanho da fonte dos elementos h1 ser menor;
  3 - Aumente o espaçamento entre as figuras;
  4 - Adicione um pouco de margin na página.
  5 - Guarde a largura da tela no ponto que você identificou que o layout atual não funcionou bem (por exemplo 800px) . Esse será o primeiro breakpoint do layout . Um breakpoint é apenas um ponto onde estamos definindo que o design atual deve mudar;
  6 - Crie uma media query no seu arquivo CSS , usando a dimensão em pixels que você guardou como o min-width do teste da media query . Dentro desse breakpoint , adicione os seguintes ajustes:
    Altere a cor de fundo (isso vai te ajudar a perceber quando a media query teve efeito) ;
    Ajuste o tamanho da fonte;
    Ajuste as margens da página;
    Faça as imagens serem mostradas em duas colunas.
  7 - Agora, você vai criar outro breakpoint para telas grandes. Redimensione sua tela de novo para encontrar um novo breakpoint .
  8 - Crie uma nova media query no seu arquivo CSS usando a dimensão que você encontrou para telas grandes (por exemplo 1300px) , e realize os seguintes ajustes dentro do breakpoint :
    Altere a cor de fundo;
    Ajuste o tamanho da fonte;
    Ajuste as margens da página;
    Adicione a propriedade max-width à página, para garantir que a largura das linhas não fique muito grande.
*/

* {
  box-sizing: border-box;
}

body {
  font-size: 17px;
  margin: 3%;
  padding: 2%;
  background-color: rgb(242, 242, 242);
}

h1 {
  background-color: white;
  border-radius: 100px;
  font-size: 1.34em;
  padding: 2%;
}

h2 {
  background-color: white;
  border-radius: 100px;
  font-size: 1.2em;
  padding: 1.5%;
}

p {
  margin-left: 10px ;
}

img {
  border-radius: 10px;
  max-width: 100%;
}

figure {
  margin: 0 0 5% 0;
  text-align: center;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 23px;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  main h2 {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 1350px) {
  body {
    font-size: 28px;
    max-width: 1550px;
  }

}